In [1]:
import pandas as pd
import sqlite3
import os

In [4]:
df = pd.read_csv('buddymove_holidayiq.csv')
assert df.shape == (249, 7)
for total in df.isnull().sum():
    assert total == 0

In [5]:
conn = sqlite3.connect(':memory:')
name = 'review'
df.to_sql(name=name, con=conn, if_exists='replace')

/Users/maximevacher-materno/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [12]:
cursor = conn.cursor()

In [11]:
# Number of rows
num_rows_query = "SELECT COUNT(*) FROM review;"
num_rows = cursor.execute(num_rows_query).fetchone()[0]
print(f' The number of {num_rows} rows.')

 The number of 249 rows.

In [ ]:
# How many users who reviewed at least 100 Nature in the category also reviewed at least 100 in the Shopping category?

In [13]:
number_reviewed_users_query = """SELECT COUNT(*) FROM review
                  WHERE Nature >= 100 AND Shopping >= 100"""

In [15]:
number_reviewed_users = cursor.execute(number_reviewed_users_query).fetchone()[0]
print(f'{number_reviewed_users} users have submitted for a minimun of 100 '
      'nature reviews and 100 shopping reviews')

78 users have submitted for a minimun of 100 nature reviews and 100 shopping reviews