In [3]:
import os
import sqlite3

In [4]:
os.listdir()

['toy_data.db',
 'README.md',
 'buddymove_holidayiq.csv',
 'DS7_SQL_DEMO.ipynb',
 'schema.png',
 '.ipynb_checkpoints',
 'rpg_db.sqlite3']

In [5]:
CONN = sqlite3.connect('toy_data.db')

In [6]:
CONN

In [7]:
os.listdir()

['toy_data.db',
 'README.md',
 'buddymove_holidayiq.csv',
 'DS7_SQL_DEMO.ipynb',
 'schema.png',
 '.ipynb_checkpoints',
 'rpg_db.sqlite3']

In [8]:
cursor = CONN.cursor()

In [9]:
dir(cursor)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [10]:
query = 'CREATE TABLE toy (name varchar(30), height_inches int);'

In [11]:
cursor.execute(query)

OperationalError: table toy already exists

In [ ]:
cursor.close()
CONN.commit()

In [12]:
insert_query = 'INSERT INTO toy (name, height_inches) VALUES ("Maxime", 75);'

In [13]:
cursor2 = CONN.cursor()
cursor2.execute(insert_query)
cursor2.execute('SELECT * FROM toy').fetchall()

[('Maxime', 82), ('Maxime', 75), ('Maxime', 75)]

In [14]:
data = [
    ('joe', 70),
    ('Lisa', 77),
    ('Lebron', 80)
]

In [15]:
for datum in data:
    cursor2.execute('INSERT INTO toy (name, height_inches) VALUES ' + str(datum))

In [16]:
cursor2.close()
CONN.commit()

In [17]:
cursor3 = CONN.cursor()
cursor3.execute('SELECT * FROM toy').fetchall()

[('Maxime', 82),
 ('Maxime', 75),
 ('Maxime', 75),
 ('joe', 70),
 ('Lisa', 77),
 ('Lebron', 80)]

In [18]:
data = cursor3.execute('SELECT * FROM toy').fetchall()
columns = list(map(lambda x: x[0], cursor3.description))

import pandas as pd

df = pd.DataFrame(data=data, columns=columns)
df

     name  height_inches
0  Maxime             82
1  Maxime             75
2  Maxime             75
3     joe             70
4    Lisa             77
5  Lebron             80