In [1]:
import sqlite3
from tabulate import tabulate

In [2]:
conn = sqlite3.connect('rpg_db.sqlite3')

In [3]:
cursor = conn.cursor()

In [4]:
# How many total Characters?

In [5]:
total_characters_query = 'SELECT COUNT(*) FROM charactercreator_character;'
total_characters = cursor.execute(total_characters_query).fetchone()[0]
print(f' The number total of characters is {total_characters}.')

 The number total of characters is 302.

In [6]:
#How many of each specific subclass?

In [11]:
for character in [
    'mage', 'thief'
    ,'cleric','fighter'
]:
    query = f' SELECT COUNT(*) FROM charactercreator_{character};'
    total_specific_subclass = cursor.execute(query).fetchone()[0]
    charater = character if character != 'thieve' else 'thief'
    print(f' the number total of {character}s is {total_specific_subclass}.')

 the number total of mages is 108.
 the number total of thiefs is 51.
 the number total of clerics is 75.
 the number total of fighters is 68.

In [12]:
# How many total Items?

In [16]:
total_items_query = 'SELECT COUNT(*) FROM armory_item;'
total_items = cursor.execute(total_items_query).fetchone()[0]
print(f' The total of items is {total_items}.')

 The total of items is 174.

In [17]:
# How many of the Items are weapons? are not?

In [24]:
total_weapons_query= 'SELECT COUNT(*) FROM armory_weapon;'
total_weapons = cursor.execute(total_weapons_query).fetchone()[0]
print(f' The total of Items which are weapons is {total_weapons} and the total of items which are not weapon is {total_items-total_weapons}')

 The total of Items which are weapons is 37 and the total of items which are not weapon is 137

In [25]:
# How many Items does each character have?

In [43]:
total_items_character_query = ('''SELECT cc.character_id, cc.name, COUNT(cci.item_id) AS item_count 
                               FROM charactercreator_character AS cc
                               INNER JOIN charactercreator_character_inventory  AS cci
                               ON cc.character_id = cci.character_id
                               GROUP BY cc.character_id
                               LIMIT 20''')

In [44]:
total_items_character = cursor.execute(total_items_character_query).fetchall()
print(tabulate(total_items_character,
      headers=['ID', 'Character Name', 'Item Count']))

  ID  Character Name                    Item Count
----  ------------------------------  ------------
   1  Aliquid iste optio reiciendi               3
   2  Optio dolorem ex a                         3
   3  Minus c                                    2
   4  Sit ut repr                                4
   5  At id recusandae expl                      4
   6  Non nobis et of                            1
   7  Perferendis                                5
   8  Accusantium amet quidem eve                3
   9  Sed nostrum inventore error m              4
  10  Harum repellendus omnis od                 4
  11  Itaque ut commodi,                         3
  12  Molestiae quis                             3
  13  Ali                                        4
  14  Tempora quod optio possimus il             4
  15  Sed itaque beatae pari                     4
  16  Quam dolor                                 1
  17  Molestias expedita                         5
  18  Lauda                                      5
  19  Incidunt sint perferen                     3
  20  Laboriosa                                  1

In [45]:
#How many Weapons does each character have? (Return first 20 rows)

In [48]:
total_weapons_character_query = ('''SELECT cc.character_id, cc.name, COUNT() AS weapon_count 
                               FROM charactercreator_character AS cc
                               INNER JOIN charactercreator_character_inventory AS cci
                               ON cc.character_id = cci.character_id
                               INNER JOIN armory_item as ai
                               ON cci.item_id = ai.item_id
                               INNER JOIN armory_weapon as aw
                               ON ai.item_id = aw.item_ptr_id
                               GROUP BY cc.character_id
                               LIMIT 20''')

In [49]:
total_weapons_character = cursor.execute(total_weapons_character_query).fetchall()
print(tabulate(total_weapons_character,
               headers=['ID', 'Character Name', 'Weapon Count']))

  ID  Character Name                    Weapon Count
----  ------------------------------  --------------
   5  At id recusandae expl                        2
   7  Perferendis                                  1
  11  Itaque ut commodi,                           1
  20  Laboriosa                                    1
  22  Dolorum nam reic                             1
  23  Repellat ad numquam volu                     1
  26  Doloribus neque                              1
  27  Ab voluptas se                               3
  29  In pariatur corpori                          2
  30  Possimus ad dignissimos vel, a               1
  32  Ad necess                                    1
  34  Voluptates sunt voluptas volu                1
  35  Autem mollitia fuga lauda                    2
  36  Sint quibusdam ob                            3
  37  Rerum et o                                   2
  38  Doloribus dolore r                           2
  39  Eaque su                                     2
  40  Vel molestias numqua                         1
  41  Iste assumenda repellat q                    1
  47  Quod tempora                                 1

In [ ]:
# On average, how many Items does each Character have?

In [50]:
average_character_items_query = ("""
    SELECT AVG(item_count) FROM
    (
        SELECT cc.character_id, COUNT(cci.item_id) AS item_count
          FROM charactercreator_character AS cc
               LEFT JOIN charactercreator_character_inventory AS cci
               ON cc.character_id = cci.character_id
         GROUP BY cc.character_id
    )
    ;""")

In [54]:
average_character_items = cursor.execute(average_character_items_query).fetchone()[0]
print(f' The average of items per player is {average_character_items:.2f}')

 The average of items per player is 2.97

In [55]:
# On average, how many Weapons does each character have?

In [57]:
average_character_weapons_query = ("""
    SELECT AVG(weapon_count) FROM
    (
        SELECT cc.character_id, COUNT(aw.item_ptr_id) AS weapon_count
          FROM charactercreator_character AS cc
               INNER JOIN charactercreator_character_inventory as cci
               ON cc.character_id = cci.character_id
               INNER JOIN armory_item as ai
               ON cci.item_id = ai.item_id
               LEFT JOIN armory_weapon as aw
               ON ai.item_id = aw.item_ptr_id
         GROUP BY cc.character_id
    )
    ;""")

In [58]:
average_character_weapons = cursor.execute(average_character_weapons_query).fetchone()[0]
print(f' The average of weapons per player is {average_character_weapons:.2f}')

 The average of weapons per player is 0.67

In [59]:
cursor.close()
conn.close()