In [1]:
import sqlite3
from tabulate import tabulate

In [2]:
conn = sqlite3.connect('rpg_db.sqlite3')

In [3]:
cursor = conn.cursor()

In [4]:
# How many total Characters?

In [5]:
total_characters_query = 'SELECT COUNT(*) FROM charactercreator_character;'
total_characters = cursor.execute(total_characters_query).fetchone()[0]
print(f' The number total of characters is {total_characters}.')

 The number total of characters is 302.

In [6]:
#How many of each specific subclass?

In [11]:
for character in [
    'mage', 'thief'
    ,'cleric','fighter'
]:
    query = f' SELECT COUNT(*) FROM charactercreator_{character};'
    total_specific_subclass = cursor.execute(query).fetchone()[0]
    charater = character if character != 'thieve' else 'thief'
    print(f' the number total of {character}s is {total_specific_subclass}.')

 the number total of mages is 108.
 the number total of thiefs is 51.
 the number total of clerics is 75.
 the number total of fighters is 68.

In [12]:
# How many total Items?

In [16]:
total_items_query = 'SELECT COUNT(*) FROM armory_item;'
total_items = cursor.execute(total_items_query).fetchone()[0]
print(f' The total of items is {total_items}.')

 The total of items is 174.

In [17]:
# How many of the Items are weapons? are not?

In [24]:
total_weapons_query= 'SELECT COUNT(*) FROM armory_weapon;'
total_weapons = cursor.execute(total_weapons_query).fetchone()[0]
print(f' The total of Items which are weapons is {total_weapons} and the total of items which are not weapon is {total_items-total_weapons}')

 The total of Items which are weapons is 37 and the total of items which are not weapon is 137

In [25]:
# How many Items does each character have?

In [28]:
total_items_character_query= 'SELECT COUNT(*) FROM charactercreator_character_inventory;'
total_items_character = cursor.execute(total_items_character_query).fetchone()[0]
print(f' The total items that each character have is {total_items_character}')

 The total items that each character have is 898

In [40]:
total_items_character_query = ('''SELECT cc.character_id, cc.name, COUNT(cci.item_id) AS item_count 
                               FROM charactercreator_character AS cc
                               INNER JOIN charactercreator_character_inventory  AS cci
                               ON cc.character_id = cci.character_id
                               GROUP BY cc.character_id
                               LIMIT 20''')

In [42]:
total_items_character = cursor.execute(total_items_character_query).fetchall()
print(tabulate(items_per_char,
      headers=['ID', 'Character Name', 'Item Count']))

  ID  Character Name                    Item Count
----  ------------------------------  ------------
   1  Aliquid iste optio reiciendi               3
   2  Optio dolorem ex a                         3
   3  Minus c                                    2
   4  Sit ut repr                                4
   5  At id recusandae expl                      4
   6  Non nobis et of                            1
   7  Perferendis                                5
   8  Accusantium amet quidem eve                3
   9  Sed nostrum inventore error m              4
  10  Harum repellendus omnis od                 4
  11  Itaque ut commodi,                         3
  12  Molestiae quis                             3
  13  Ali                                        4
  14  Tempora quod optio possimus il             4
  15  Sed itaque beatae pari                     4
  16  Quam dolor                                 1
  17  Molestias expedita                         5
  18  Lauda                                      5
  19  Incidunt sint perferen                     3
  20  Laboriosa                                  1